<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.swjtuhc.demo.mapper.UserMapper"><!-- 映射文件对应的接口 -->

	<insert id="insertUser" parameterType="edu.swjtuhc.demo.model.SysUser">
		insert into sysuser
		(username,password,region,role)
		values
		(#{username},#{password},#{region},#{role})
	</insert>
   <select id="selectUserByUsername" parameterType="java.lang.String" 
   resultType="edu.swjtuhc.demo.model.SysUser">
   		select * from sysuser
   </select>   
</mapper>